/public/
.DS_Store
/tools/node_modules
/tools/site-data-collection.log
/resources/
*~
\#*\#
.\#*
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
