# Install the apt prerequisites
addons:
  apt:
    packages:
      - hugo
# Clean and don't fail
install:
  - rm -rf public || exit 0
# Build the website
script:
  - binaries/hugo --theme=fresh
  - echo 'www.diverse-team.fr' > public/CNAME

# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: public
  on:
    branch: master

