{{ define "content" }}
{{ $data := newScratch }}
{{ $data.Set "filter" "phd" }}
{{ $previousYear := (now.AddDate -1 0 0).Year }}

<!--
    <div class="list-preamble">
        {{ .Content }}
        <div class="btn-group" role="group" aria-label="Job types">
            <button type="button" class="btn btn-secondary" onclick={{ print "coucou" }} >Phd</button>
            <button type="button" class="btn btn-secondary" onclick={{ $data.Set "filter" "phd" }} >Postdoc</button>
            <button type="button" class="btn btn-secondary" onclick={{ $data.Set "filter" "internship" }} >Internship</button>
            <button type="button" class="btn btn-secondary" onclick={{ $data.Set "filter" "phd" }} >Engineer</button>
        </div>
    </div> -->

    {{ range (.Pages.GroupByParam "position").Reverse }}
        <ul class="list-unstyled page-list">
        {{ range (.Pages.ByParam "starts").Reverse }}
            {{ $yearMatch := findRE `\d{4}` .Params.starts }}
            {{ $startsYear := 0 }}
            {{ if $yearMatch }}
                {{ $startsYear = int (index $yearMatch 0) }}
            {{ end }}
            {{ if and (not .Params.hide) (ge $startsYear $previousYear) }}
            <li> {{ .Render "item" }} </li>
            {{ end }}
        {{ end }}
        </ul>
    {{ end }}
{{ end }}
