<div class="card" style="width: 18rem;">

    {{ $folder := "/images/team" }}
    {{ $image := printf "%s/%s.png" $folder .File.BaseFileName }}
    {{ if not ( fileExists $image ) }}
        {{ $image = printf "%s/%s.jpg" $folder .File.BaseFileName }}
    {{ end }}

    {{ if ( fileExists $image ) }}
    <img class="card-img-top" src="{{ $image }}" >
    {{ else }}
    <div class="card-img-top default-profile-img bg-primary">
        <i class="fas fa-user fa-4x fa-inverse"></i>
    </div>
    {{ end }}

    <div class="card-body">
    {{ with .Params }}
      <h5 class="card-title">{{ .name }}</h5>
      <p class="card-text">
          <span>{{ .position | markdownify }}</span>
          <br/>
          <span>{{ .organization | markdownify }}</span>
      </p>

      {{ $urls := dict "home" "%s" "twitter" "https://twitter.com/%s" "github" "https://github.com/%s" "linkedin" "https://linkedin.com/in/%s" "researchgate" "https://researchgate.com/profile/%s" }}

      {{ range $item, $target := .social }}
      <a href="{{ printf (index $urls $item) $target }}" class="btn btn-primary"><i class="{{partial "icons/to-fa-icon.html" $item}}"></i></a>
      {{ end }}
    {{ end }}
    </div>
  </div>