<div class="col">
<div class="card member-card">

    {{ $folder := "/images/team" }}
    {{ $image := printf "%s/%s.png" $folder .File.BaseFileName }}
    {{ if not ( fileExists $image ) }}
        {{ $image = printf "%s/%s.jpg" $folder .File.BaseFileName }}
    {{ end }}

    {{ if ( fileExists $image ) }}
    <img class="card-img-top member-image" src="{{ $image }}" >
    {{ else }}
    <div class="card-img-top default-member-image">
        <i class="fas fa-user fa-4x fa-inverse"></i>
    </div>
    {{ end }}

    <div class="card-body">
    {{ with .Params }}
      <h6 class="card-title member-name">{{ .name }}</h6>
      <p class="card-text member-description">
          <span>{{ .position | markdownify }}</span>
          <br/>
          <span>{{ .organization | markdownify }}</span>
      </p>

      {{ $order := slice "home" "twitter" "linkedin" "github" "researchgate" }}
      {{ $urls := dict "home" "%s" "twitter" "https://twitter.com/%s" "github" "https://github.com/%s" "linkedin" "https://linkedin.com/in/%s" "researchgate" "https://researchgate.com/profile/%s" }}
      <div class="member-social">
      {{ $social := .social }}
      {{ range $target := $order }}
        {{ if isset $social $target }}
        {{ $value := index $social $target }}
        <a href="{{ printf ( index $urls $target ) $value }}" class="social-item" title="{{ $value }}" target="_blank"><i class="{{partial "icons/to-fa-icon.html" $target}}"></i></a>
        {{ end }}
      {{ end }}
      </div>
    {{ end }}
    </div>
  </div>
</div>