{{ define "content" }}
<div class="list-preamble">
    {{ .Content }}
</div>
<h2 class="p-2 text-light bg-primary">Permanent Staff</h2>
<div class="members-row mb-3">
    {{ range .Resources }}
        {{ if (eq .Params.category "permanent") }}
            {{ .Render "item" }}
        {{ end }}
    {{ end }}
</div>

<h2 class="p-2 text-light bg-primary">External Collaborators</h2>
<div class="members-row mb-3">
    {{ range .Resources }}
        {{ if (eq .Params.category "external") }}
            {{ .Render "item" }}
        {{ end }}
    {{ end }}
</div>

<h2 class="p-2 text-light bg-primary">Post Doc</h2>
<div class="members-row mb-3">
    {{ range .Resources }}
        {{ if (eq .Params.category "postdoc") }}
            {{ .Render "item" }}
        {{ end }}
    {{ end }}
</div>

<h2 class="p-2 text-light bg-primary">PhD Student</h2>
<div class="members-row mb-3">
    {{ range .Resources }}
        {{ if (eq .Params.category "phd") }}
            {{ .Render "item" }}
        {{ end }}
    {{ end }}
</div>

<h2 class="p-2 text-light bg-primary">Engineers</h2>
<div class="members-row mb-3">
    {{ range .Resources }}
        {{ if (eq .Params.category "engineer") }}
            {{ .Render "item" }}
        {{ end }}
    {{ end }} 
</div>

<h2 class="p-2 text-light bg-teal">Former Members</h2>
<div class="members-row mb-3">
    {{ $Resources := .Resources }}
    {{ $dateOfStayEndOrder := seq 2030 -1 2001 }}
    {{ range $dateOfStayEndTarget := $dateOfStayEndOrder }}
        {{/* print year */}} 
        {{ $departureInYear := false}}
        {{ range $Resource := $Resources }}        
            {{ if in .Params.dateOfStay.end $dateOfStayEndTarget }}
                {{ $departureInYear = true}}
            {{ end }}
        {{ end }}
        {{ if $departureInYear }} 
        <div class="members-row mb-3">
            <h3 class="p-3 text-light bg-teal">{{ $dateOfStayEndTarget }}</h3>
        </div>
        {{ end }}
        {{ range $Resource := $Resources }}
            {{ with $Resource }}
                {{ if or (eq .Params.category "former") (eq .Params.category "alumni") }}
                    {{ if .Params.dateOfStay  }} 
                        {{ if .Params.dateOfStay.end }}
                            {{ if in  .Params.dateOfStay.end $dateOfStayEndTarget   }}
                                {{ .Render "former-member" }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end  }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{/* print remaining that doesn't have dateOfStay.end */}} 
    <div class="members-row mb-3">
        <h3 class="p-3 text-light bg-teal"></h3>
    </div>
    {{ range $Resource := $Resources }}
        {{ if isset .Params.dateOfStay "end" }}
        {{ else }}
            {{ if or (eq .Params.category "former") (eq .Params.category "alumni") }}
                {{ .Render "former-member" }}
            {{ end }}
        {{ end }}
    {{ end }}       
    
</div>
{{ end }}
