<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" data-controls="navbarNav" data-expanded="false" data-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {{ $current := . }}
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ .URL }}" role="button" data-haspopup="true" data-expanded="false">
                        {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                    </a>
                    <div class="dropdown-menu">\
                    {{ range .Children }}
                        <a class="dropdown-item" href="{{ .URL }}">
                            {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}</a>
                    {{ end }}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item {{ if $current.IsMenuCurrent "main" . }}active{{ end }}">
                    <a class="nav-link" href="{{ .URL }}">
                        {{ .Pre }}<span>{{ .Name }}</span>{{ .Post }}
                    </a>
                </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
