{{ partial "header.html" . }}
{{ partial "navbar.html" . }}


{{ $page := . }}

<div class="universal-wrapper">

    
    <!-- Projects widget -->
    <div class="row">
        <h1 itemprop="name">Projects</h1>
   <div class="col-xs-12 col-md-12">
  
    <div class="row isotope projects-container">
        {{ range where $.Data.Pages "Type" "project" }}
        <div class="col-md-12 project-item isotope-item {{ delimit .Params.tags " " }}" itemscope itemtype="http://schema.org/CreativeWork">
          <span class="project-title">
          {{ if .Content }}
          <a href="{{ .Permalink }}">
          {{ else }}
            {{ with .Params.external_link }}<a href="{{ . }}" target="_blank">{{ end }}
          {{ end }}
          {{ $image := (or .Params.image  .Params.image_preview ) }}
          <img src="{{ "/img/" | relURL }}{{ $image }}" alt="" style="max-width: 300px">
          <h2>{{ .Title }}</h2>
          {{ if .Content }}</a>{{ else }}{{ with .Params.external_link }}</a>{{ end }}{{ end }}
          </span>
          {{ with .Params.summary }}<p class="project-summary">{{ . | markdownify }}</p>{{ end }}
        </div>
        {{ end }}
    </div>

    
  </div>
</div>

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
