<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ block "styles" . }}
        {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
        {{ $style := resources.Get "scss/main.scss" | resources.ToCSS $options }}
        <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}" />
    {{ end }}
    <title>{{ block "title" . }}{{- .Site.Title -}}{{ end }}</title>
</head>
<body>
    {{ partial "globals/main-menu.html" . }}
    <main id="main-content" class="bg-light">
        {{ block "main" . }}
        <div class="container py-5 overlay">
            <h1>{{ .Title }}</h1>
            <div id="page-content">
                {{ block "content" . }}
                    {{ .Content }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </main>
    {{ partial "globals/footer.html" . }}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{ block "scripts" . }}{{ end }}
</body>
</html>