.x {
color: #ffffff;
color: #666666;

color: #ef2727;
color: #b92b32;
color: #b63138;
color: #b23440;
color: #af3845;
color: #9f4e66;
color: #9f4e66;
color: #9a4f69;
color: #9d536c;
color: #8e6488;
color: #986b92;
color: #a2729c;
color: #636f94;
color: #6b789f;
color: #5c80aa;
color: #587e8c;
color: #55769e;
color: #7581ab;
color: #6fa39c;
color: #689993;
color: #6ba083;
color: #6ca47a;
color: #6ea874;
color: #70ac6f;
color: #73ae72;
color: #618e88;
color: #5a847e;
color: #659b6b;
color: #5e9063;
color: #78c05f;
color: #71b258;
color: #74ba46;
color: #76c135;
color: #78c92b;
color: #7bc039;
color: #81d32f;
color: #7ac52c;
color: #82c131;
color: #81c130;
color: #8ec23e;
color: #91bb3c;
color: #93bb3e;
color: #adc14a;
color: #adc14a;
color: #bdb954;
color: #b1ad4e;
color: #a5a14a;
color: #cdb25f;
color: #c1a85a;
color: #d9ae63;
color: #cba15d;
color: #ddaa5c;
color: #e1a853;
color: #d19f4f;
color: #c39249;
color: #c39249;
color: #b58842;
color: #b48742;
color: #e0a852;
color: #d49c4a;
color: #c59145;
color: #e5a549;
color: #d8a04c;
color: #e8a444;
color: #d8993f;
color: #d89940;
color: #ca8e38;
color: #bc8433;
color: #eaa23b;
color: #da983a;
color: #cc8d34;
color: #bd8332;
color: #eaa23b;
color: #dd9735;
color: #cc8c34;
color: #ec9637;
color: #ec9637;
color: #dc8e37;
color: #cc812f;
color: #ea8a37;
color: #da8335;
color: #cb782f;
color: #e98135;
color: #da7931;
color: #cb702d;
color: #e87733;
color: #e87733;
color: #d9702f;
color: #e76f31;
color: #d8682f;
color: #e9713e;
color: #e76635;
color: #e76032;
color: #e02424;
color: #d12323;
color: #a04b62;
color: #7d89b7;
color: #c42020;
color: #bf262a;
color: #a84152;
color: #ab3d4b;
color: #a3495e;
color: #a4465a;
color: #a74356;
color: #ab3c4b;
}