{{ define "main" }}
    
    <section id="banner">
        <div id="banner-frame" class="container-fluid position-relative">
            <div id="banner-title" class="text-center text-light position-absolute">
            </div>
        </div>
    </section>

    <section id="research-axes">
        <div>
        {{ $axesitems := slice (dict "icon" "project-diagram" "title" "Modeling and Language Engineering" "color" "primary" ) (dict "icon" "check-double" "title" "Advanced testing" "color" "secondary") (dict "icon" "infinity" "title" "DevOps for distributed and heterogeneous systems" "color" "success") (dict "icon" "dice" "title" "Variability Engineering" "color" "danger")}}
        {{ $axesargs := dict "inverted" true "iconinverted" true "iconstyle" "round" "iconsize" "3x" "buttonlabel" "View More" "items" $axesitems }}
        {{ partial "icons/list.html" $axesargs }}
        </div>
    </section>

    {{ partial "home/preview-section.html" (dict "section" "recent-publications" "title" "Recent Publications" "bgcolor" "primary" "icon" (dict "icon" "file-alt"          ) "context" . ) }}
    {{ partial "home/preview-section.html" (dict "section" "recent-talks"        "title" "Recent Talks"        "bgcolor" "secondary" "icon" (dict "icon" "chalkboard-teacher") "context" . ) }}
    {{ partial "home/preview-section.html" (dict "section" "recent-posts"        "title" "Recent Posts"        "bgcolor" "success" "icon" (dict "icon" "blog"              ) "context" . ) }}
    
    <section id="organizations" class="py-5 bg-dark">
        <div class="row justify-content-center align-items-stretch items">
            {{ range (slice "inria" "irisa" "univ-rennes1" "cnrs" "insa") }}
            <div class="col-md-2 d-flex flex-column">
                <div id="{{.}}"class="organization-logo" style="background-image: url(/images/organizations/dark-bg/{{.}}.png);"></div>
            </div>
            {{ end }}
        </div>
    </section>
{{ end }}
