{{ $icondefaults := ( dict "color" "white" "size" "5x" "inverted" true ) }}
<section id="section-{{ .section }}" class="preview-section">
    <div class="container-fluid">
        <div class="container">
        <div class="row ">
            <div class="icon col-3 text-center position-relative">
                <div class="side-icon position-absolute">
                    <h2 class="title">{{ .title }}</h2>
                    {{ partial "icons/round" (merge $icondefaults .icon) }}
                    <a class="section-link btn btn-primary" href="{{ .link }}">See all</a>
                </div>
            </div>
            <div class="col-9">
                <div class="section-content">
                    {{ partial (printf "home/%s.html" .section ) .context }}
                </div>
            </div>
        </div>
        </div>
    </div>
</section>